@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: #337ab7;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.text-center {
  text-align: center;
}

.gpa-label {
  font-size: 80px;
}

.max-gpa-label {
  font-size: 30px;
  color: grey;
}
